html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
}

.modal1 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: rgba(27, 29, 31, 0.7); 
}

.modal1-container {
    display: flex;
    flex-direction: column;
    width: 573px;
    height: 524px; 
    background-color: #fff; 
    position: relative;
    margin: auto;
   }

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.trident {
    display: block;
    margin: 32px auto;
    width: 32px;
    height: 52px;

}

.close-button {
    position: absolute;
    top: 24px;
    right: 24px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1 {
    color: #000000;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 12px;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
}
.form {
    display: flex;
    flex-direction: column;
    width: 374px;
    margin: 0 auto;
    
}

.labal-input {
    margin: 0 auto 8px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;

}

.form-input {
    width: 348px;
    margin: 0 auto 16px 0;
    padding: 12px;
    border: 1px solid #005BBB;
    border-radius: 8px;
    font-size: 24px;
    color: #000000;
    
}
.form-input:focus,
.form-input:hover {
     cursor: pointer;
    box-shadow: 0 0 8px rgb(0, 0, 0, 0.8);

}
.modal-button {
    display: block;
    margin: 24px auto 60px;
    padding: 12px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border-radius: 8px;
    background: #FF6B0A;
    border: none;
    color: #fff;
    
}

.modal-button:hover {
    cursor: pointer;
    background-color: #ff893b;
    box-shadow: 0 0 8px rgb(0, 0, 0, 0.8);
}

.modal-button:active {
    background-color: #e95d00;
}