:root {
  --gradient: linear-gradient(270deg, #A5DEFF 0%, #FCFEFF 100%) 0 0 fixed;
  --main-text-color: #1B1D1F;
  --text-button: #ffffff;
  --bg-button: #FF6B0A;
  --modal-text-color: #000;
  --modal-bg: #1b1d1fb3;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
}
.logo-goit {
  display: block;
  padding: 32px 0 56px 0;
  background: var(--gradient);

}
.logo-container{
  width: 1170px;
  margin: 0 auto;
  vertical-align: middle;

}

.logo {
  display: inline-block;
  height: 32px;  
  vertical-align: middle;
}

.text-logo {
  display: inline-block;
  width: 125px;
  height: 30px;
  text-align: left;
  margin-left: 16px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.25;
  vertical-align: middle;

} 
/*section gradient*/
.gradient{
  background: var(--gradient);
  padding-bottom: 80px;
}
.tech-container {
  display: block;
  position: relative;
  width: 1170px;
  margin: 0 auto;
}
.main-gus {
  position: absolute;
  width: 668px;
  top: -112px;
  right: -85px;
}
.text-container {
  width: 573px;
  padding: 60px 56px;
  background: #ffffff;
}
.salute {
  margin-bottom: 16px;
  font-weight: 600;
}
.start {
  margin-bottom: 48px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  color: #FF6B0A;
}

h1 {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 64px;
  line-height: 1.25;
}

.text-description {
  width: 440px;
  margin-bottom: 48px;
}
.button {
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 8px;
  color: var(--text-button);
  background-color: var(--bg-button);
}
.button:focus,
.button:hover {
  background-color: #ee5f00;
}
/*section fakts*/
.trident {
  display: block;
  margin: 52px auto 16px;
}

.fakts-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 2.08;
  text-align: center;
}
.fakts {
  width: 875px;
  margin: 16px auto 24px;
  text-align: center;
}
.gus-options{
  display: block;
  width: 1170px;
  margin: 0 auto 72px;

}
.option1,
.option2,
.option3 {
  display: inline-block;
  width: 374px;
  height: 538px;
  vertical-align: top;
}
.option2 {
  margin: 0 19px;
}
h4 {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1;

}
.text-descr-contaner {
  width: 280px;
  margin: 0 auto;

}
.footer-content {
  width: 1170px;
  padding: 72px 0;
  margin: 0 auto 72px;
  background: var(--gradient);
}
.f-trident {
  display: block;
  width: 32px;
  margin: 0 auto 16px;
}
.adieus {
  font-weight: 600;
  font-size: 48px;
  line-height: 2.08;
  text-align: center;
}
.goose-target {
  width: 875px;
  margin: 16px auto 72px;
  text-align: center;
}
/* modal1 */
.modal1 {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--modal-bg); 
}

.modal1-container {
  display: block;
  position: relative;
  width: 573px;
  padding: 32px 90px 60px 90px;
  margin: 10% auto;
  background-color: #fff; 
}
.modal1-succes-container {
  display: block;
  position: relative;
  width: 573px;
  padding: 32px 65px 56px;
  margin: 10% auto;
  background-color: #fff; 
}

.modal-trident {
  display: block;
  width: 32px;
  height: 52px;
  margin: 0 auto;
}
.close-button {
  position: absolute;
  width: 24px;
  top: 24px;
  right: 24px;
  background-color: transparent;
}
.modal-content {
  display: block;
  width: 387px;

}
.modal-header {
  width: 387px;
  margin-top: 32px;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  color: var(--modal-text-color);
}
.modal-succes-header {
  width: 444px;
  margin-top: 32px;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  color: var(--modal-text-color);
}
.call-to-action {
  display: block;
  margin-top: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--modal-text-color);
}
.form {
  display: block;
  width: 374px;
  margin: 24px auto 0;
  color: var(--modal-text-color);
}
.label-input,
.form-input {
  display: block;
  width: 374px;
}
.label-input {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 8px;
  line-height: 1.5;
}
.form-input {
  height: 48px;
  font-size: 24px;
  margin-bottom: 16px;
  padding: 4px;
  border: 1px solid #005BBB;
  border-radius: 8px;
}
.form > .button {
  display: block;
  width: 172px;
  margin: 40px auto 0;
}
/* modal-succes */
.modal-succes {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 122px 0;
  background-color: var(--modal-bg);
}
.modal-container {
  display: block;
  position: relative;
  width: 573px;
  padding: 32px 90px 60px 90px;
  margin: auto;
  background-color: #fff;
}




